.testok {
    background-image: linear-gradient(#0cb3ff, #0068ff);
}

.fontBlack {
    background-image: linear-gradient( #0068ff,#0cb3ff);
}
.coloFont{
    color:white;
}
.ErrorPa {
    background-image: url('500-internal-server-error-featured-image-1.png');
}
.centerText {
    margin: auto;
    width: 60%;
    padding: 10px;
    color: #FFFF00;
}
