<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="oauth.configuration" type="OAuth2.Configuration.OAuthConfigurationSection" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-New_Esign-20180814051213.mdf;Initial Catalog=aspnet-New_Esign-20180814051213;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="ESignDB" connectionString="Data Source=10.224.81.131,3000;Initial Catalog=esign;Persist Security Info=True;User ID=khangbeoit;Password=foxconn168!!" providerName="System.Data.SqlClient" />
    <add name="ConnectDHCP" connectionString="Data Source=10.224.81.131,3000;Initial Catalog=DHCP;Persist Security Info=True;User ID=khangbeoit;Password=foxconn168!!" providerName="System.Data.SqlClient" />
    <add name="ConnectDB" connectionString="Data Source=10.224.81.131,3000;Initial Catalog=bhpcdb;Persist Security Info=True;User ID=khangbeoit;Password=foxconn168!!" providerName="System.Data.SqlClient" />
    <add name="DBConnectData" connectionString="Data Source=10.224.81.131,3000;initial catalog=esign;user id=khangbeoit;password=foxconn168!!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <oauth.configuration>
    <!--<oauth name="Foxconn" type="OAuth2.Client.FoxconnClient" clientId="680fa9af9fdb9fea43b11c92cbb70708" clientSecret="ysvtg3pz2c402pir4nrhq1unzskbvj7tlwcsycf7w0jupa5j6p9iyvfbm9ikrok9" callbackUrl="http://10.224.69.100/PC/Callback.aspx" authUrl="http://10.63.4.27/oauth2/v2/auth" tokenUrl="http://10.63.4.27/oauth2/v2/token" scope="profile" />-->
  <oauth name="Foxconn" type="OAuth2.Client.FoxconnClient" clientId="0188f183e7d6a96ce9274ac126e08160" clientSecret="4h37wyg4939z7qh9a5bmf2bu0aw3eqp23h3ydy5yi5yva5nabsmb1kwwe9t5m0my" callbackUrl="http://10.224.81.136:8686/CallBack/Callback" authUrl="http://10.129.4.51/oauth2/v2/auth" tokenUrl="http://10.129.4.51/oauth2/v2/token" scope="profile" />
    <!--   <oauth name="Foxconn" type="OAuth2.Client.FoxconnClient" clientId="1060cf2ad090ae62fb7c59a2fba4a644" clientSecret="9b7p4lixhauueyaglie6ytp3n9vrqcykl2z2azjmfy357gtjmze9lhfs51ehsyw0" callbackUrl="https://appvn3.foxconn.com/CallBack/Callback" authUrl="http://10.129.4.51/oauth2/v2/auth" tokenUrl="http://10.129.4.51/oauth2/v2/token" scope="profile" /> -->
    <!--<oauth name="Foxconn" type="OAuth2.Client.FoxconnClient" clientId="c216d5d0d5be121b13c269cf723adf45" clientSecret="trqkjxq0c4umbnrctpx5yj158x7hwfyt731gluikmddk5oueub5v0okkysjbgl6p" callbackUrl="http://10.224.81.136:8686/CallBack/Callback" authUrl="http://10.129.4.51/oauth2/v2/auth" tokenUrl="http://10.129.4.51/oauth2/v2/token" scope="profile" />-->  
  </oauth.configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SSOauthentic.Authorization" value="http://10.63.25.240/webservice/sso/Authorization.asmx" />
  </appSettings>
  <system.web>
    <globalization fileEncoding="utf-8" />
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <identity impersonate="true" />
    <sessionState mode="InProc" timeout="120"></sessionState>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block"></add>
        <remove name="X-Content-Type-Options" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <remove value="Default.htm" />
        <add value="Callback.html" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2450.0.58" newVersion="18.2450.0.58" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ElistQuerySoap" />
        <binding name="PostmanServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="PostmanServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.132.37.98:8006/personal/ElistQuery.asmx" binding="basicHttpBinding" bindingConfiguration="ElistQuerySoap" contract="HRWebService.ElistQuerySoap" name="ElistQuerySoap" />
      <endpoint address="http://10.224.69.100/postman/postmanservice.asmx" binding="basicHttpBinding" bindingConfiguration="PostmanServiceSoap" contract="PostmanService.PostmanServiceSoap" name="PostmanServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>